@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700&display=swap');

$font-logo: 'Oswald', sans-serif;
$color-background: #000119;
$stroke-width: calc(1em / 16);
$font-size: 5rem;
$font-weight: 700;
$letter-spacing: calc(1em / 8);

.header {
    padding: 10px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;

    &__nav {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__link {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        margin-right: 25px;

        &:hover {
            color: #09f1b8;
            text-decoration: underline;
        }
    }
}

.sweet-title {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-gradient(linear, left top, right top, from(#09f1b8), color-stop(#00a2ff), color-stop(#ff00d2), to(#fed90f));
    background-image: -o-linear-gradient(left, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    background-image: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    color: #000119;
    font-size: $font-size;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    padding: calc($stroke-width / 2);
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: $stroke-width;
    margin: 0;
  }
 

  // Media Queries for Responsive Design
    @media screen and (max-width: 768px) {
        .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 15%;
        margin-bottom: 25%;

            &__logo {
                margin-top: 10%;
                margin-bottom: 10%;
            }
        }


    }