.avis {
    margin-top: 5%;
    display: flex;
    width: 100%;
    color: white;



    &__left {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5%;

        &__title {
            font-size: 2rem;
            font-weight: 700;
            color: #09f1b8;
            margin-bottom: 5%;
        }

        &__text {
            width: 75%;
            font-size: 1.15rem;
            font-weight: 500;
            color: #fff;
            text-align: justify;
            margin-bottom: 5%;
        }

        &__button {
            border: 2px solid #09f1b8;
            background: none;
            border-radius: 5px;
            color: #09f1b8;
            font-size: 1.15rem;
            font-weight: 700;
            padding: 10px 20px;
            width: 200px;
            margin-top: 20px;
            margin-bottom: 20px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            text-decoration: none;
            text-align: center;

            &:hover {
                background-color: #09f1b8;
                color: #10151E;
            }   
        }
    }

    &__right {
        width: 60%;

        &__container {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5%;

            &__title {
                font-size: 2rem;
                font-weight: 700;
                color: #09f1b8;
            }

            &__text {
                font-size: 1.15rem;
            }
        }

        
    }
}

.stars__avis {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    color: #09f1b8;
    font-size: 1.5rem;
    font-weight: 700;
}
  // Media Queries for Responsive Design
  @media screen and (max-width: 767px) {
    .avis {
        flex-direction: column;
        margin-top: 10%;
        margin-bottom: 10%;
        

        &__left {
            width: 100%;
            margin-left: 0;
            margin-bottom: 5%;


            &__title {
                font-size: 1.5rem;
                margin-bottom: 5%;
            }

            &__text {
                width: 90%;
                font-size: 1rem;
                margin-bottom: 5%;
            }

            &__button {
                width: 70%;
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }

        &__right {
            width: 100%;

            &__container {
                flex-direction: column;
                margin-bottom: 5%;
            }

            &__bloc {
                width: 100%;
                margin-bottom: 5%;
            }
        }
    }
  }